<template>
  <section :id="id">
    <v-container fluid class="fill-height pt-0">
      <v-layout>
        <v-row>
          <v-col cols="12" class="pa-0">
            <v-container class="fill-height full-height pt-4" style="width: 100%">
              <v-card width="100%">
                <v-stepper v-model="e1" alt-labels :vertical="!$vuetify.breakpoint.mdAndUp">
                  <v-stepper-header>
                    <v-stepper-step :complete="e1 > 1" step="1">Buscar</v-stepper-step>

                    <v-divider></v-divider>

                    <v-stepper-step :complete="e1 > 2" step="2">Consultar</v-stepper-step>

                    <v-divider></v-divider>

                    <v-stepper-step step="3">Crear</v-stepper-step>
                  </v-stepper-header>

                  <v-stepper-items>
                    <v-stepper-content step="1">
                      <v-card class="mb-12" color="grey lighten-1" height="350px"></v-card>

                      <v-btn color="primary" @click="e1 = 2">Siguiente</v-btn>
                    </v-stepper-content>

                    <v-stepper-content step="2">
                      <v-card class="mb-12" color="grey lighten-1" height="350px"></v-card>

                      <v-btn color="primary" @click="e1 = 3">Siguiente</v-btn>
                    </v-stepper-content>

                    <v-stepper-content step="3">
                      <v-card class="mb-12" color="grey lighten-1" height="350px"></v-card>

                      <v-btn color="primary" @click="e1 = 1">Finalizar</v-btn>
                    </v-stepper-content>
                  </v-stepper-items>
                </v-stepper>
              </v-card>
            </v-container>
          </v-col>
        </v-row>
      </v-layout>
    </v-container>
  </section>
</template>

<script>
export default {
  name: 'Funcionamiento',
  provide: {
    theme: { isDark: true }
  },
  props: {
    id: {
      type: String,
      default: 'Funcionamiento'
    }
  },

  data: () => ({ sections: [], e1: 1 })
}
</script>

<style>
.full-height {
  height: calc(100vh - 180px);
}

@media screen and (max-width: 959px) {
  .full-height {
    height: 100%;
  }
}
</style>