<template>
  <section :id="id">
    <v-container class="fill-height">
      <v-layout>
        <v-row>
          <v-col sm="12">
            <v-btn small @click="$router.go(-1)" outlined class="mb-6">
              <v-icon left>mdi-arrow-left</v-icon>Regresar
            </v-btn>
            <p class="headline font-weight-bold">{{getDetalleEmpresa.NombreEmpresa}}</p>
            <v-card>
              <v-tabs v-model="tab" background-color="transparent">
                <v-tab v-for="item in items" :key="item">{{ item }}</v-tab>
              </v-tabs>

              <v-tabs-items v-model="tab">
                <v-tab-item>
                  <v-card color="black" flat>
                    <v-card-text>
                      <v-list color="background">
                        <v-list-item>
                          <v-list-item-icon>
                            <v-icon>mdi-briefcase-account</v-icon>
                          </v-list-item-icon>
                          <v-list-item-content>
                            <v-list-item-title class="font-weight-bold">
                              RUC:
                              <span class="font-weight-light mx-4">{{getDetalleEmpresa.RUC}}</span>
                            </v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>

                        <v-list-item class="font-weight-bold">
                          <v-list-item-icon>
                            <v-icon>mdi-chart-pie</v-icon>
                          </v-list-item-icon>
                          <v-list-item-content>
                            <v-list-item-title class="font-weight-bold">
                              Sector:
                              <span
                                class="font-weight-light mx-4"
                              >{{getDetalleEmpresa.sector}}</span>
                            </v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>

                        <v-list-item class="font-weight-bold">
                          <v-list-item-icon>
                            <v-icon>mdi-bank</v-icon>
                          </v-list-item-icon>
                          <v-list-item-content>
                            <v-list-item-title class="font-weight-bold">
                              Crédito Otorgado Por:
                              <span
                                class="font-weight-light mx-4"
                              >{{getDetalleEmpresa.nombreEntidadCredito}}</span>
                            </v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>

                        <v-list-item class="font-weight-bold">
                          <v-list-item-icon>
                            <v-icon>mdi-chart-bubble</v-icon>
                          </v-list-item-icon>
                          <v-list-item-content>
                            <v-list-item-title class="font-weight-bold">
                              Tipo de Entidad Otorgante:
                              <span
                                class="font-weight-light mx-4"
                              >{{getDetalleEmpresa.tipoEntidadCredito}}</span>
                            </v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>

                        <v-list-item class="font-weight-bold">
                          <v-list-item-icon>
                            <v-icon>mdi-cash</v-icon>
                          </v-list-item-icon>
                          <v-list-item-content>
                            <v-list-item-title class="font-weight-bold">
                              Monto de Préstamo:
                              <span
                                class="font-weight-light mx-4"
                              >S/ {{formatNumero(getDetalleEmpresa.montoPrestamo)}}</span>
                            </v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>

                        <v-list-item class="font-weight-bold">
                          <v-list-item-icon>
                            <v-icon>mdi-cash-100</v-icon>
                          </v-list-item-icon>
                          <v-list-item-content>
                            <v-list-item-title class="font-weight-bold">
                              Monto de Cobertura:
                              <span
                                class="font-weight-light mx-4"
                              >S/ {{formatNumero(getDetalleEmpresa.montoCobertura)}}</span>
                              <span
                                class="primary--text mx-0"
                              >({{formatPorcentaje(getDetalleEmpresa.montoPrestamo, getDetalleEmpresa.montoCobertura)}} %)</span>
                            </v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>

                        <v-list-item class="font-weight-bold">
                          <v-list-item-icon>
                            <v-icon>mdi-map-marker</v-icon>
                          </v-list-item-icon>
                          <v-list-item-content>
                            <v-list-item-title class="font-weight-bold">
                              Departamento:
                              <span
                                class="font-weight-light mx-4"
                              >{{getDetalleEmpresa.nombreDepartamento}}</span>
                            </v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                      </v-list>
                    </v-card-text>
                  </v-card>
                </v-tab-item>

                <v-tab-item>
                  <v-card color="background" elevation="2">
                    <v-card-text class="pa-0">
                      <v-container>
                        <v-layout>
                          <v-row>
                            <v-col sm="12" class="px-0 pt-0">
                              <div
                                class="d-flex"
                                v-for="(precedente, index) in dataPrecedente"
                                :key="index"
                              >
                                <base-precedente :dataPrecedente="precedente"></base-precedente>
                              </div>
                            </v-col>
                          </v-row>
                        </v-layout>
                      </v-container>
                    </v-card-text>
                  </v-card>
                </v-tab-item>
              </v-tabs-items>
            </v-card>
          </v-col>
        </v-row>
      </v-layout>
    </v-container>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'BaseView',
  provide: {
    theme: { isDark: true }
  },
  props: {
    id: {
      type: String,
      default: 'Detalle Transparencia'
    }
  },

  data() {
    return {
      tab: null,
      items: ['General', 'Precedentes'],
      text:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
      snackbarCopy: false,
      dataPrecedente: [
        {
          idPrecedente: '1',
          RUC: 'RUC',
          titulo: 'Titulo',
          descripcion:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum',
          fechaEnvio: Date.now(),
          articulos: [
            {
              idArticulo: 1,
              url: 'https://www.google.com',
              fechaCreacion: Date.now()
            },
            {
              idArticulo: 1,
              url: 'https://www.google.com',
              fechaCreacion: Date.now()
            },
            {
              idArticulo: 1,
              url: 'https://www.google.com',
              fechaCreacion: Date.now()
            },
            {
              idArticulo: 1,
              url: 'https://www.google.com',
              fechaCreacion: Date.now()
            }
          ]
        },
        {
          idPrecedente: '2',
          RUC: 'RUC',
          titulo: 'Titulo',
          descripcion:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum',
          fechaEnvio: Date.now(),
          articulos: [
            {
              idArticulo: 1,
              url: 'https://www.google.com',
              fechaCreacion: Date.now()
            },
            {
              idArticulo: 1,
              url: 'https://www.google.com',
              fechaCreacion: Date.now()
            },
            {
              idArticulo: 1,
              url: 'https://www.google.com',
              fechaCreacion: Date.now()
            },
            {
              idArticulo: 1,
              url: 'https://www.google.com',
              fechaCreacion: Date.now()
            }
          ]
        },
        {
          idPrecedente: '3',
          RUC: 'RUC',
          titulo: 'Titulo',
          descripcion:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum',
          fechaEnvio: Date.now(),
          articulos: [
            {
              idArticulo: 1,
              url: 'https://www.google.com',
              fechaCreacion: Date.now()
            },
            {
              idArticulo: 1,
              url: 'https://www.google.com',
              fechaCreacion: Date.now()
            },
            {
              idArticulo: 1,
              url: 'https://www.google.com',
              fechaCreacion: Date.now()
            },
            {
              idArticulo: 1,
              url: 'https://www.google.com',
              fechaCreacion: Date.now()
            }
          ]
        }
      ]
    }
  },

  methods: {
    formatNumero(num) {
      if (isNaN(num)) {
        return '-'
      }

      let parsednum = parseFloat(num)
      return parsednum.toLocaleString(undefined, {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
      })
    },

    formatPorcentaje(prestamo, cobertura) {
      if (!prestamo) {
        return '-'
      }

      return ((cobertura / prestamo) * 100).toFixed(2)
    },

    showDialogCopiado() {
      this.snackbarCopy = true
    }
  },

  computed: {
    ...mapGetters('empresa', ['getDetalleEmpresa'])
  },

  mounted() {
    if (!this.getDetalleEmpresa.RUC) {
      //Fetch a la bd
      console.log('fetching!')
    }
  }
}
</script>

<style scoped>
.full-height {
  height: calc(100vh - 180px);
}

@media screen and (max-width: 959px) {
  .full-height {
    height: 100%;
  }
}
</style>