<template>
  <section :id="id">
    <v-container fluid class="fill-height pt-0">
      <v-layout>
        <v-row>
          <v-col cols="12" class="pa-0">
            <v-container class="fill-height full-height pt-0">
              <v-layout>
                <v-row>
                  <v-col sm="12">
                    <div>
                      <p>Información</p>
                    </div>
                    <div>
                      <v-data-table
                        :headers="cabeceras"
                        :items="detalle_prestamos"
                        loading-text="Cargando... Espera un Momento"
                        no-data-text="No hay datos para mostrar"
                        :search="buscarTabla"
                        class="text-center"
                      >
                        <template v-slot:top>
                          <v-layout class="py-3 d-flex flex-column">
                            <v-row>
                              <v-col
                                cols="12"
                                sm="12"
                                md="7"
                                class="pb-0 d-flex"
                              >
                                <v-text-field
                                  v-model="buscarTabla"
                                  prepend-inner-icon="mdi-text-search"
                                  label="Búsqueda rápida"
                                  outlined
                                  dense
                                  class="mx-4 flex-shrink-0 flex-grow-1"
                                ></v-text-field>
                              </v-col>
                              <v-col
                                cols="12"
                                sm="12"
                                md="5"
                                class="pb-0 d-flex"
                              >
                                <v-select
                                  class="mx-4 flex-shrink-1 flex-grow-0"
                                  :items="['Empresa']"
                                  v-model="columnaBusqueda"
                                  placeholder="Columna a buscar"
                                  label="Buscar en Columna"
                                  dense
                                  outlined
                                ></v-select>
                                <v-btn
                                  text-icon
                                  class="mr-4 mt-0 flex-shrink-0 flex-grow-0"
                                >
                                  <v-icon>mdi-magnify</v-icon>
                                </v-btn>
                              </v-col>
                            </v-row>
                          </v-layout>
                        </template>
                        <template
                          v-slot:item.actions="{ item }"
                          class="text-center"
                        >
                          <v-btn
                            text
                            icon
                            color="primary"
                            @click="getDetalleEmpresa(item)"
                          >
                            <v-icon>mdi-briefcase-search</v-icon>
                          </v-btn>
                        </template>
                      </v-data-table>
                    </div>
                  </v-col>
                </v-row>
              </v-layout>
            </v-container>
          </v-col>
        </v-row>
      </v-layout>
    </v-container>
  </section>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  name: 'BaseView',
  provide: {
    theme: { isDark: true }
  },
  props: {
    id: {
      type: String,
      default: 'Transparencia'
    }
  },

  data: () => ({
    cabeceras: [
      { text: 'Empresa', value: 'NombreEmpresa', align: 'center' },
      { text: 'RUC', value: 'RUC', align: 'center' },
      { text: 'Sector', value: 'sector', align: 'center' },
      {
        text: 'Otorgante de Crédito',
        value: 'nombreEntidadCredito',
        align: 'center'
      },
      { text: 'Préstamo Otorgado', value: 'montoPrestamo', align: 'center' },
      { text: 'Cobertura', value: 'montoCobertura', align: 'center' },
      { text: 'Departamento', value: 'nombreDepartamento', align: 'center' },
      {
        text: 'Ver Detalle',
        value: 'actions',
        sortable: false,
        align: 'center'
      }
    ],
    detalle_prestamos: [
      {
        NombreEmpresa: 'Empresa A',
        RUC: '124452313234',
        sector: 'Salud',
        nombreEntidadCredito: 'Banco de Crédito del Perú',
        tipoEntidadCredito: 'Banca Múltiple',
        montoPrestamo: '1235420.30',
        montoCobertura: '1234324.00',
        nombreDepartamento: 'Lima'
      },
      {
        NombreEmpresa: 'Empresa B',
        RUC: '12345231558',
        sector: 'Salud',
        nombreEntidadCredito: 'Banco de Crédito del Perú',
        tipoEntidadCredito: 'Banca Múltiple',
        montoPrestamo: '1235430.30',
        montoCobertura: '1234324.00',
        nombreDepartamento: 'Arequipa'
      }
    ],
    buscarTabla: '',
    columnaBusqueda: 'Empresa'
  }),

  methods: {
    getDetalleEmpresa(item) {
      //TODO: Guardar la información obtenida con vuex
      this.setEmpresa(item)
      this.$router.push({
        name: 'Detalle Transparencia',
        params: { id: item.RUC }
      })
    },

    ...mapMutations('empresa', ['setEmpresa'])
  }
}
</script>

<style>
.full-height {
  height: calc(100vh - 180px);
}

@media screen and (max-width: 959px) {
  .full-height {
    height: 100%;
  }
}
</style>