<template>
  <section :id="id">
    <v-container fluid class="pa-0">
      <v-layout>
        <v-row no-gutters>
          <v-col cols="12" class="pa-0">
            <component :is="`section-${section}`" v-for="section in sections" :key="section" />
          </v-col>
        </v-row>
      </v-layout>
    </v-container>
  </section>
</template>

<script>
export default {
  name: 'BaseView',
  provide: {
    theme: { isDark: true }
  },
  props: {
    id: {
      type: String,
      default: 'view'
    }
  },

  data: () => ({ sections: [] })
}
</script>

<style scoped>
</style>