<template>
  <div>
    <v-card
      :height="height"
      :width="width"
      class="mb-4"
      elevation="4"
      tile
      color="background-light"
      v-bind="$attrs"
      v-on="$listeners"
    >
      <slot />

      <v-container>
        <div class="d-flex flex-column mx-12">
          <div class="d-flex flex-row justify-space-between mb-2">
            <div class="font-weight-bold title">{{dataPrecedente.titulo}}</div>
            <div class="font-weight-thin h6">#{{dataPrecedente.idPrecedente}}</div>
          </div>
          <div
            class="d-flex text-justify font-weight-thin body-2 my-2"
          >{{dataPrecedente.descripcion}}</div>
          <div class="mb-2 d-flex justify-space-between">
            <div>
              <v-list dense>
                <v-subheader class="px-0">Fuente(s):</v-subheader>
                <transition-group
                  name="staggered-fade"
                  v-bind:css="false"
                  v-on:before-enter="beforeEnter"
                  v-on:enter="enter"
                  v-on:leave="leave"
                >
                  <v-list-item
                    v-for="(item, i) in dataPrecedente.articulos"
                    :key="i + '-articulo'"
                    v-show="showAll"
                    class="px-0"
                    :data-index="i"
                  >
                    <v-list-item-content>
                      <v-list-item-title>
                        <p
                          style="text-decoration: none;max-width: 250px;"
                          class="d-inline-block text-truncate my-auto"
                        >{{i+1}}.- {{item.url}}</p>
                      </v-list-item-title>
                    </v-list-item-content>
                    <v-list-item-icon>
                      <v-icon class="mx-2" @click="openUrl(item.url)">mdi-open-in-new</v-icon>
                    </v-list-item-icon>
                  </v-list-item>
                </transition-group>
                <v-btn
                  v-if="dataPrecedente.articulos.length > 3 && !showAll"
                  color="primary"
                  block
                  @click="showAll = true"
                  key="btnShowMore"
                  class="px-4"
                  :data-index="0"
                >
                  <v-icon left>mdi-eye</v-icon>
                  Mostrar Todos ({{dataPrecedente.articulos.length}})
                </v-btn>
                <v-btn
                  v-if="showAll"
                  color="primary"
                  block
                  @click="showAll = false"
                  class="px-4"
                  key="btnShowLess"
                >
                  <v-icon left>mdi-eye-off</v-icon>Mostrar Menos
                </v-btn>
              </v-list>
            </div>
          </div>
        </div>
      </v-container>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'BasePrecedente',

  inheritAttrs: false,

  props: {
    height: [Number, String],
    width: [Number, String],
    subtitle: String,
    title: String,
    dataPrecedente: {
      type: Object,
      default: () => ({
        idPrecedente: '0',
        RUC: 'RUC',
        titulo: 'Titulo',
        descripcion:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum',
        fechaEnvio: Date.now(),
        articulos: [
          {
            idArticulo: 1,
            url: 'https://www.google.com',
            fechaCreacion: Date.now()
          },
          {
            idArticulo: 1,
            url: 'https://www.google.com',
            fechaCreacion: Date.now()
          },
          {
            idArticulo: 1,
            url: 'https://www.google.com',
            fechaCreacion: Date.now()
          },
          {
            idArticulo: 1,
            url: 'https://www.google.com',
            fechaCreacion: Date.now()
          }
        ]
      })
    }
  },

  data() {
    return {
      showTooltip: false,
      showAll: false
    }
  },

  methods: {
    openUrl(url) {
      if (url) {
        window.open(url, '_blank')
      }
    },

    beforeEnter: function(el) {
      el.style.opacity = 0
      el.style.height = 0
    },
    enter: function(el, done) {
      var delay = el.dataset.index * 150
      setTimeout(function() {
        Velocity(el, { opacity: 1, height: '1.6em' }, { complete: done })
      }, delay)
    },
    leave: function(el, done) {
      var delay = el.dataset.index * 100
      setTimeout(function() {
        Velocity(el, { opacity: 0, height: 0 }, { complete: done })
      }, delay)
    }
  }
}
</script>