<template>
  <section :id="id">
    <v-container fluid class="fill-height pt-0">
      <v-layout>
        <v-row>
          <v-col cols="12" class="pa-0">
            <v-container class="fill-height full-height pt-0">
              <v-layout>
                <v-row>
                  <v-col sm="12" md="6" class="d-flex align-center pa-0">
                    <v-img
                      :src="require('@/assets/sol-peruano.jpg')"
                      class="rounded-sm"
                      contain
                      width="50vw"
                      gradient="to bottom, rgba(0,0,0,0), rgba(0,0,0,1)"
                    ></v-img>
                  </v-col>
                  <v-col sm="12" md="6" class="d-flex flex-column justify-center pa-0 px-4">
                    <div class="align-end">
                      <p class="font-weight-bold mb-0" style="font-size: 3em;">Transparencia</p>
                      <a
                        href="https://www.gob.pe/institucion/mef/campa%C3%B1as/1159-reactiva-peru"
                        class="font-weight-light blue--text"
                        style="font-size: 2.5em;"
                      >Reactiva Perú</a>
                    </div>
                    <div class>
                      <p
                        class="font-weight-light"
                        style="font-size: 1.75em;"
                      >Repositorio Único de Información y Noticias Relacionadas a Empresas</p>
                    </div>
                    <div class>
                      <p
                        class="font-weight-light blue--text"
                        style="font-size: 1.25em;"
                      >Basado en la información publicada por el Ministerio de Economía y Finanzas</p>
                    </div>
                    <div>
                      <v-btn outlined dark :to="{ name: 'Funcionamiento'}">¿Cómo Funciona?</v-btn>
                    </div>
                  </v-col>
                </v-row>
              </v-layout>
            </v-container>
          </v-col>
        </v-row>
      </v-layout>
    </v-container>
  </section>
</template>

<script>
export default {
  name: 'BaseView',
  provide: {
    theme: { isDark: true }
  },
  props: {
    id: {
      type: String,
      default: 'inicio'
    }
  },

  data: () => ({ sections: [] })
}
</script>

<style>
.full-height {
  height: calc(100vh - 180px);
}

@media screen and (max-width: 959px) {
  .full-height {
    height: 100%;
  }
}
</style>