<template>
  <div>
    <v-app-bar id="home-app-bar" app absolute height="60" elevate-on-scroll color="base">
      <div>
        <v-tabs class="hidden-sm-and-down" optional color="primary">
          <v-tab
            v-for="(name, i) in items"
            :key="i"
            :to="{ name: name.value }"
            :exact="name.exact"
            :ripple="false"
            active-class="text--blue"
            class="font-weight-light text-capitalize base"
            min-width="96"
            text
            style="font-size: 1em;"
          >{{ name.text }}</v-tab>
        </v-tabs>
      </div>

      <v-app-bar-nav-icon class="hidden-md-and-up" @click="drawer = !drawer" />
      <div class="hidden-md-and-up primary--text">{{$route.name}}</div>
    </v-app-bar>

    <home-drawer v-model="drawer" :items="items" />
  </div>
</template>

<script>
export default {
  name: 'HomeAppBar',
  provide: {
    theme: { isDark: true }
  },
  components: {
    HomeDrawer: () => import('./Drawer')
  },

  data: () => ({
    drawer: null,
    menuItems: [],
    items: [
      {
        text: 'Inicio',
        value: 'Inicio',
        exact: true
      },
      { text: 'Transparencia', value: 'Transparencia', exact: false },
      { text: '¿Cómo Funciona?', value: 'Funcionamiento', exact: true },
      { text: 'Sobre Nosotros', value: 'Nosotros', exact: true }
    ]
  })
}
</script>

<style lang="sass">
#home-app-bar
  .v-tabs-slider
    max-width: 24px
    margin: 0 auto

    .v-tab
      &::before
        display: none
</style>
