<template>
  <v-navigation-drawer
    color="base-verde"
    fixed
    overlay-opacity=".8"
    temporary
    v-bind="$attrs"
    v-on="$listeners"
    dark
  >
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title class="white--text h4">Transparencia</v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-list-item
      v-for="(name, index) in items"
      :key="index"
      class="px-2"
      :to="{ name: name.value }"
      :exact="name.exact"
      active-class="primary--text primary"
    >
      <v-list-item-content>
        <v-list-item-title v-text="name.text" class="white--text"></v-list-item-title>
      </v-list-item-content>
    </v-list-item>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: 'HomeDrawer',

  props: {
    items: {
      type: Array,
      default: () => []
    }
  }
}
</script>
