<template>
  <v-app>
    <home-app-bar />

    <home-view />
  </v-app>
</template>

<script>
export default {
  name: 'HomeLayout',
  provide: {
    theme: { isDark: true }
  },
  components: {
    HomeAppBar: () => import('@/layouts/home/AppBar'),
    HomeView: () => import('@/layouts/home/View')
  }
}
</script>