<template>
  <v-fade-transition mode="out-in">
    <keep-alive include="Transparencia" :key="$route.fullPath">
      <router-view />
    </keep-alive>
  </v-fade-transition>
</template>

<script>
export default {
  name: 'App',
  metaInfo: {
    title: 'Transparencia',
    titleTemplate: 'Transparencia',
    htmlAttrs: { lang: 'es' },
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { name: 'description', content: '' }
    ]
  }
}
</script>

<style lang="sass">
.v-application
  background-color: var(--v-background-base) !important

.extra-padding
  padding-bottom: 96px !important

  @media screen and (max-width: 959px)
    padding-top: 48px !important

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
$body-font-family: 'Montserrat', sans-serif
html, body
  font-family: 'Montserrat', sans-serif

#app
  font-family: 'Montserrat', sans-serif
</style>
